{% extends "base.html" %}
{% block title %}Profile{% endblock title %}

{% block content %}

<div class="container mt-5">
    {% include "message.html" %}
    <div class="card">
        <div class="card-header">
            <h3 class="text-center">Welcome to {{user.name}} in this website</h3>
            <p>User Type {{user.user_type}}</p>
            <p>Email: {{user.email}}</p>
            <p>Name: {{user.name}}</p>
            <p>Username: {{user.username}}</p>
        </div>
        <div class="card-body">
            <a  href="{% url 'password_change' %}"><button class='btn btn-warning'>Change Password</button></a>
            <a  href="{% url 'profileEdit' %}"><button class='btn btn-success'>Edit</button></a>
            
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <a  href="{% url 'logout' %}"><button class='btn btn-danger'>Logout</button></a>
            </form>
            
        </div>
    </div>
</div>
{% endblock content %}